body {
    background: rgb(22, 22, 22);
}

.name,
.no-results {
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px #fff;
}

.main-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

.box {
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius: 90px;
    box-shadow: 0 0 15px #fff;
    cursor: pointer;
}

.box img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 300px;
    transform: scale(1);
}

.box:hover img {
    transform: scale(1.5);
}
